@import url('https://fonts.google.com/specimen/Space+Grotesk');

*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    /* background-color: #0077b6; */
    font-family: 'Space Grotesk', sans-serif;
    /* font-size: 12px; */
}

.card{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form{
    background-color: #fff;
    width: 300px;
    height: 370px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 3px 3px #ccc;
    border-radius: 20px;
}

.login-form img{
    width: 100px;
    height: 100px;
}

.login-form input[type="text"], input[type="password"]{
    outline: 0;
    border: 1px solid #ccc;
    width: 80%;
    padding: 10px;
}

.login-form label{
    font-weight: 500;
    padding: 10px;
}

.box-visible{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form button{
    outline: 0;
    border: 0;
    background-color: royalblue;
    border-radius: 20px;
    cursor: pointer;
    width: 250px;
    padding: 5px;
    transition: all .3s ease-in-out;
    text-align: center;
    color: #fff;
    font-weight: 500;
}

.login-form.button:hover{
    opacity: .75;
}

header{
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px 20px 20px 20px;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 20px 20px 20px;
    text-align: left;
}

.form{
    display: flex;
    width: 70%;
    height: fit-content;
    background-color: #fff;
    border: #ccc solid 1px;

    padding: 20px 20px 20px 20px;

}


.form-calc{
    display: grid;
    width: 100%;
    grid-template-columns: 50% 50%;
    grid-template-areas: 
    "contrato plazo"
    "haberes descuentos"
    "totales    totales"
    ;

    div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 10px 10px 10px 10px;

        label{
            font-size: 14px;
            text-align: left;
        }

        select, input{
            width: 100%;
            height: 30px;
            border: none;
            border-bottom: #ccc solid 1px;
            background-color: #fff;
        }
    }
    
    .totales{
        grid-area: totales;
        display: grid;
        grid-template-areas: 
        
        "haberes descuentos sueldo_liquido"
        
        ;
        justify-content: space-around;

        .haberes{
            display: flex;
            grid-area: haberes;
        }
        .descuentos{
            display: flex;
            grid-area: descuentos;
        }
        .sueldo_liquido{
            display: flex;
            grid-area: sueldo_liquido;
        }


    }

    
    .contrato{
        grid-area: contrato;
        width: 100%;
        padding: 10px 10px 10px 10px;
        
    }
    
    .plazo{
        grid-area: plazo;
        width: 100%;
        padding: 10px 10px 10px 10px;
    }
    
    .haberes{
        
        display: grid;
        grid-template-columns: 50%;
        grid-template-areas:
        "title          title               "
        "sueldo_base           ausente             "
        "cant-ausente        cant-ausente   "
        "gratificacion  valor_gratificacion "
        "hhee           valor-hhee          "
        "otrosa          otrosa             "
        "otrosb          otrosb             "
        "otrosc          otrosc             "
        "asignacion     asignacion          "
        "colacion       movilizacion        "
        ;

        .title{
            grid-area: title;
        }

        .sueldo_base{
            grid-area: sueldo_base;

            label{
                font-size: 14px;
            }

            input{

                border: none;
                border-bottom: #ccc solid 1px;
            }
        }
        .ausente{
            font-size: 14px;
            grid-area: ausente;
        }
        .cant-ausente{
            grid-area: cant-ausente;

            label{
                font-size: 14px;
            }

            input{
                border: none;
                border-bottom: #ccc solid 1px;
            }
        }
        .gratificacion{
            width: 100%;
            grid-area: gratificacion;
            label{
                font-size: 14px;
            }
            select{
                border: none;
                border-bottom: #ccc solid 1px;
            }
        }
        .valor_gratificacion{
            grid-area: valor_gratificacion;
        }
        .hhee{
            grid-area: hhee;
        }
        .valor-hhee{
            grid-area: valor-hhee;
        }
        .otrosa{
            grid-area: otrosa;
        }
        .otrosb{
            grid-area: otrosb;
        }
        .otrosc{
            grid-area: otrosc;
        }
        .colacion{
            grid-area: colacion;
        }
        .movilizacion{
            grid-area: movilizacion;
        }
        .asignacion{
            grid-area: asignacion;
        }
    }

    .descuentos{
        display: grid;
        grid-template-areas: 

        "title      title                           "
        "afp        valor-afp                       "
        "fonasa     valor-fonasa                    "
        "seguro     seguro                          "
        "impuesto   impuesto                        "
        "apv        apv                             "
        "otros-dsctos-legales otros-dsctos-legales  "
        "otros-dsctos   otros-dsctos                "
        
        ;

        .title{
            grid-area: title;
        }
        .afp{
            grid-area: afp;
        }
        .valor-afp{
            grid-area: valor-afp;
        }
        .fonasa{
            grid-area: fonasa;
        }
        .valor-fonasa{
            grid-area: valor-fonasa;
        }
        .seguro{
            grid-area: seguro;
        }
        .impuesto{
            grid-area: impuesto;
        }
        .apv{
            grid-area: apv;
        }
        .otros-dsctos-legales{
            grid-area: otros-dsctos-legales;
        }
        .otros-dsctos{
            grid-area: otros-dsctos;
        }
    }
}
