<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/style.css">
    <title>Home</title>
</head>
<body>
    <header>
        <h1 id="greetings"></h1>
        <a href="../index.html">Cerrar Sesion</a>    
    </header>    
    <main>
        <div class="title">
            <h1>Calculadora de sueldo liquido</h1>
        </div>
        <div class="form">
            <div action="" method="POST" class="form-calc">
                <div class="contrato">
                    <label for="tipo">Contrato</label>
                    <select name="" id="tipo">
                        <option value="0">Mensual</option>
                        <option value="1">Quincenal</option>
                        <option value="2">Semanal</option>
                        <option value="3">Diario</option>
                    </select>
                </div>
                <div class="plazo">
                    <label for="plazo">Plazo contrato</label>
                    <select name="" id="plazo">
                        <option value="0">Indefinido</option>
                        <option value="1">Fijo</option>
                    </select>
                </div>
                <div class="haberes">
                    <div class="title">
                        <h2>Haberes</h2>
                    </div>
                    <div class="sueldo_base">
                        <label for="base">Sueldo Base</label>
                        <input type="text" id="base" placeholder="Sin puntos" autocomplete="off">
                    </div>
                    <div class="ausente">
                        <label for="ausente">Días ausente</label>
                        <select name="" id="ausente">
                            <option value="0">No</option>
                            <option value="1">Si, Licencia</option>
                            <option value="2">Si, Ausencia</option>
                            <option value="3">Si, Fracción</option>
                        </select>
                    </div>
                    <div class="cant_ausente" id="div_cant_ausente" style="display: none;">
                        <label for="cant_ausente">Cantidad días ausente</label>
                        <input type="text" id="cant_ausente" placeholder="Cantidad de días" autocomplete="off">
                    </div>
                    <div class="gratificacion">
                        <label for="gratificacion">Gratificacion</label>
                        <select name="" id="gratificacion">
                            <option value="0">Si</option>
                            <option value="1">No</option>
                            <option value="2">Editar</option>
                        </select>
                    </div>
                    <div class="valor_gratificacion">
                        <label for="valor_grat">Valor Gratificacion</label>
                        <input type="text" name="gratificacion" id="valor_grat" placeholder="" autocomplete="off" disabled>
                    </div>
                    <div class="hhee">
                        <label for="hhee">Horas Extra</label>    
                        <input type="text" id="hhee" placeholder="Cantidad" autocomplete="off">
                    </div>
                    <div class="valor_hhee">
                        <label for="valorhhee">Valor Hrs. extra</label>
                        <input type="text" id="valorhhee" placeholder="" autocomplete="off" disabled>
                    </div>
                    <div class="otrosa">
                        <label for="comisiones">Comisiones</label>
                        <input type="text" id="comisiones" placeholder="(Opcional)" autocomplete="off"> 
                    </div>
                    <div class="otrosb">
                        <label for="corrida">Semana Corrida</label>
                        <input type="text" id="corrida" placeholder="(Opcional)" autocomplete="off">
                    </div>
                    <div class="otrosc">
                        <label for="bonos">Bonos</label>
                        <input type="text" id="bonos" placeholder="(Opcional)" autocomplete="off">
                    </div>
                    <div class="colacion">
                        <label for="colacion">colacion</label>
                        <input type="text" id="colacion" placeholder="(Opcional)" autocomplete="off">
                    </div>
                    <div class="movilizacion">
                        <label for="movilizacion">Movilizacion</label>
                        <input type="text" id="movilizacion" placeholder="(Opcional)" autocomplete="off">
                    </div>
                    <div class="asignacion">
                        <label for="asignacion">Asignacion familiar</label>
                        <input type="text" id="asignacion" placeholder="(Opcional)" autocomplete="off">
                    </div>
                </div>
                <div class="descuentos">
                    <div class="title">
                        <h2>Descuentos</h2>
                    </div>
                    <div class="afp">
                        <label for="afp">AFP</label>
                        <select name="afp" id="afp">
                            <option value="0">Seleccione una AFP</option>
                            <option value="1">Capital</option>
                            <option value="2">Cuprum</option>
                            <option value="3">Habitat</option>
                            <option value="4">Modelo</option>
                            <option value="5">Planvital</option>
                            <option value="6">Provida</option>
                            <option value="7">Uno</option>
                            <option value="8">Primer Trabajo</option>
                            <option value="9">No cotiza</option>
                        </select>
                    </div>
                    <div class="valor-afp">
                        <label for="valorafp">Total AFP</label>
                        <input type="text" id="valorafp" placeholder="" disabled autocomplete="off">
                    </div>
                    <div class="fonasa">
                        <label for="fonasa">Fonasa</label>
                        <select name="fonasa" id="fonasa">
                            <option value="0">Fonasa</option>
                            <option value="1">Isapre</option>
                        </select>
                    </div>
                    <div class="valor-fonasa">
                        <label for="valorfonasa">Total salud</label>
                        <input type="text" id="valorfonasa" placeholder="" disabled autocomplete="off">
                    </div>
                    <div class="seguro">
                        <label for="seguro">Seguro de cesantía</label>
                        <input type="text" id="seguro" placeholder="" disabled autocomplete="off">
                    </div>
                    <div class="impuesto">
                        <label for="impuesto">Impuesto</label>
                        <input type="text" id="impuesto" placeholder="" disabled autocomplete="off">
                    </div>
                    <div class="apv">
                        <label for="apv">apv</label>
                        <input type="text" id="apv" placeholder="(Opcional)" autocomplete="off">
                    </div>
                    <div class="otros-dsctos-legales">
                        <label for="dsctos">Otros Descuentos Legales</label>
                        <input type="text" id="dsctos" placeholder="(Opcional)" autocomplete="off">
                    </div>
                    <div class="otros-dsctos">
                        <label for="otros-dsctos">Otros Descuentos</label>
                        <input type="text" id="otros-dsctos" placeholder="(Opcional)" autocomplete="off">
                    </div>
                </div>
                <div class="totales">
                    <div class="haberes">
                        <label for="haberes_totales">Haberes</label>
                        <input type="text" id="haberes_totales" disabled autocomplete="off">
                    </div>
                    <div class="descuentos">
                        <label for="descuentos_totales">descuentos</label>
                        <input type="text" id="descuentos_totales" disabled autocomplete="off">
                    </div>
                    <div class="sueldo_liquido">
                        <label for="sueldo_liquido">Sueldo Liquido</label>
                        <input type="text" id="sueldo_liquido" disabled autocomplete="off">
                    </div>
                </div>
                <button id="btnCalcular">Calcular</button>
            </div>
        </div>
        <script src="/assets/js/main.js"></script>
    </main>
    </body>
</html>