<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/style.css">
    <title>Home</title>
</head>
<body onload="viewNotes()">
    <header>
        <h1 id="greetings"></h1>
        <a href="../index.html">Cerrar Sesion</a>    
    </header>    
    <main>
        <div class="cardNote">
            <div class="noteHeader">
                <h2 id="noteTitle"></h2>
                <p id="noteDate"></p>
            </div>
            <div class="noteBody">
                <p id="noteDesc"></p>
            </div>
            <button>Cerrar</button>
        </div>
        <div class="cardNote">
            <div class="noteHeader">
                <h2 id="noteTitle1"></h2>
                <p id="noteDate1"></p>
            </div>
            <div class="noteBody">
                <p id="noteDesc1"></p>
            </div>
            <button>Cerrar</button>
        </div>
        <div class="cardNote">
            <div class="noteHeader">
                <h2 id="noteTitle2"></h2>
                <p id="noteDate2"></p>
            </div>
            <div class="noteBody">
                <p id="noteDesc2"></p>
            </div>
            <button>Cerrar</button>
        </div>
        </main>
    <script src="../assets/js/main.js"></script>
    </body>
</html>